@import "bootstrap-sprockets";
@import "bootstrap";
html {
  box-sizing: border-box;
  height:100%;
}

body {
  height: 100%;
}


h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  }

 .title {
   margin-top: 130px;
   font-weight: bold;
 }

.row {
    margin-right: -15px;
    margin-left: -15px;
    }
.col-md-offset-3 {
    margin-left: 25%;
    }
  
.col-md-6 {
      width: 50%;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.alert {
  z-index: 100;
  position: absolute;
  margin-bottom: 0;

}

.alert-notice {
  color: rgb(6, 131, 37);
  background-color: #9bf1a6;
  border-color: #f7f763;
  }

  .alert2 {
    margin-bottom: 200px;
  }

/* header */

.header.active {
  padding:5px 30px;
  background-color: #21054d;
}

.header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  width: 100%;
}

.logo_image {
  display: block;
  color: #fff;
  font-size: 25px;
}

.logo {
  line-height: 1;
}
.global-nav_list {
  display: flex;
  padding-left: 30px;
  list-style: none;
  }

.global-nav_item:not(:last-child) {
    margin-right: 25px;
    }

.global-nav_item {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  }

.global-nav_link {
  position: relative;
  display: inline-block;
  color: #fff;
}
/* body*/

.container{
  width:1170px;
}
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: image-url('background.jpg');
	color: white;
}



.hero_title {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: .2em;
}

.btns {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: greenyellow;
  color: #fff;
  font-weight: bold;
}

.form-control {
  margin-bottom:20px;
}

.wrap {
  position: relative;
  height: 100%;
}

.main {
  margin-left: 40px;
}


.menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 300px;
    height: 100%;
    background: #21054d;

 }

.menu .menu_inner {
height: 100%;
position: relative;
z-index: 10;
width: 300px;
}

.menu_list{
  width: 100%;
  text-align: center;
  margin-top: 80px;
  }

.menu_list_li {
  margin-bottom: 30px;
}
.menu_list_item {
  color:white;
  font-size: 15px;
  font-weight: bold;
}
/* 掲示板*/

.main_container {
  margin-left: 300px;
  display: flex;
  background-color: rgb(240, 240, 240);
  min-height: 100%;
}

.microposts {
  width:800px;
  border: 2px solid;
  border-color:#21054d ;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
}

.title_container {
background-color: #21054d;
position: fixed;
width: 100%;
z-index: 5;
}

.content {
  text-align: left;
  font-size: 20px;
  margin:0;
  padding:20px 10px;
  color: #fff;
}

.notice_container {
padding-top: 62px;
}

/* マイクロポスト　*/

.notice_container_item {
margin: 2em auto;
padding: 1em;
width: 90%;
background-color: #fff; /* 背景色 */
border: 1px solid #ccc; /* 枠線 */
border-radius: 30px;
  }

.post_back {
  background-color: rgb(226, 234, 240)
}
.notice_container_item2 {
  display: flex;
}

.microposts_info {
  display: flex;
}

.microposts_info_user {
  display: flex;
}

.user_image {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50px; /*追加*/
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.user_image2 {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 140px; /*追加*/
}

.hero_p {
  background-image: image-url('a.jpg');
}
.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.microposts_contents {
  padding-left: 16px;
}

.micropost_user {
  font-weight: bold;
  font-size: 18px;
}
.micropost_time {
  padding-left: 10px;
}

.micropost_area {
  padding-left: 10px;
}

.microposts_delete {
  padding-left: 10px;
}

.micropost_content {
  font-size: 15px;
}
/**/
.notice_creater_container {
  padding-top:80px;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 20px;
    z-index: 5;
    width: 320px;
    height: 100%;
    padding-left: 20px;
}

.form {
resize: none;
width:300px;
height:300px;
}
/* 掲示板　*/
.posts {
  width:800px;
  border: 2px solid;
  border-color:#21054d ;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
}

.notice_title {
  font-size: 40px;
  text-align: center;
}

.post_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**/
.profile_main {
background-color: rgb(240, 240, 240);
}

/*.profile_main2 {
padding-left: 20px;
padding-top: 30px;
} */

.profile_image_area {
  height: 250px;
  background-image: image-url('a.jpg');
  background-color: rgba(255,255,255,0.7);
  background-blend-mode:color;
}

.profile_info {
  padding-top: 62px;
  padding-bottom: 50px;
}
.profile_info_b {
  padding:30px 0;
}

.profile_info_c {
  display: flex;
  justify-content: space-between;
}

.user_name {
  font-size: 20px;
  font-weight: bold;
}
/*掲示板詳細*/
.u_post_main2 {
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 30px;
  background:rgb(203, 225, 241);
  border: 1px solid;
  border-radius: 10px;
}

.u_post_head {
  display: flex;
  border-bottom:1px solid;
  border-bottom: dashed;
  padding:8px 15px;
} 

.u_post_user_title {
  font-size: 25px;
}

.u-post_main {
  margin:20px 30px;
}

.u_post_user {
  padding-left: 20px;
}

.u_post_link {
  padding:20px 0;
}

.notice_body {
  font-size: 15px;
}
/*
.title_container{
  width: 720px;
  z-index:999;
  background-color:whitesmoke;
  position: fixed;
}

.title {
  margin-left: 20px;
}

.notice_container {
padding-top: 40px;
background-color: #DDDDDD;
}

.notice_container_item {
  padding: 20px 20px;
  margin: 40px;
  height: 200px;
  display: flex;
  background-color:white;
  border-radius: 40px;
}

.notice_title {
  font-size: 20px;
}

.notice_container_item_image {
  width: 100px;
}
.notice_container_item_info {
  display: inline;
  
}
.notice_creater {
  width: 380px;
  height: 100%;
  position:fixed;
  right:0;
  top:0px;
  background-color: #DDDDDD;

}
/* ダイレクトメッセージ */
/*吹き出し*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{
  justify-content:flex-end;
}
.faceicon img{
  width: 80px; /*任意のサイズ*/
  height: auto;
}
.balloon_r .faceicon{
  margin-left:25px;
}
.balloon_l .faceicon{
  margin-right:25px;
}
.balloon_r .faceicon{
  order:2 !important;
}
.says {
  max-width:500px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  margin:8px 0 0 !important; 
}
.says p:first-child{
  margin-top:0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #99dddd;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #99dddd;
}