<div class="microposts">
    <div class="title_container">
      <h1 class="content">プロフィール</h1>
    </div>
  <div class="profile_main">
      <div class="profile_main2">
          <div class="profile_info">
            <div class="profile_info_a">
          <%= render "shared/user_image2" %>
          <%= render "userinfo_profile" %>
          
      <%= render "link_profile" %>
      <%= render "files_profile"%>  
        </div>
        </div>
  </div>
</div>
</div>
